/* font-family: 'Amatic SC', cursive;
font-family: 'Josefin Sans', sans-serif; */
:root {
  --purple: #363073;
  --light_purple: #8983c4;
  --green_apple: #dbff00;
  --bg-black: #000000;
  --gray: #dfdfdf;
}


header {
  align-items: center;
  background-color: var(--bg-black);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.school-logo {
  height: 200px;
}
.navbar-nav {
  display: flex;
  gap: 20px;
}
.nav-item {
  font-family: "Amatic SC";

}

.about-us__tittle , .seccion__cursos{
  font-family: "Amatic SC";
}
.about-us {
  background: rgb(137, 131, 196);
  background: linear-gradient(
    121deg,
    rgba(54, 48, 115, 1) 50%,
    rgb(0, 0, 0) 100%
  );
  color: var(--gray);
  font-family: "Josefin Sans", sans-serif;
  padding: 30px;
  text-shadow: 1px 1px 2px black;
}
.about-us__text {
  padding: 30px;
}
.seccion__cursos h1{
  align-self: flex-start;
  margin: 0;
  padding: 30px 0px 0px 30px;
  color: var(--gray);
}
.seccion__cursos{
  background: var(--bg-black);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories{
  display: flex;
  gap: 10px;
  justify-content:center;
}
.category, .ver-mas{
  background-color: #dbff00;
  color: var(--bg-black);
  font-size: 1.5em;
  font-weight: bolder;
  border-radius: 15px;
}
.cursos {
  background: var(--bg-black);
  flex-wrap: wrap;
  font-family: "Josefin Sans", sans-serif;
  gap: 20px;
  justify-content: center;
  padding: 20px;

}
.card {  
  padding: 10px;
}
.card-body{
  flex-direction: column;

}
.card:hover {
  border: 2px solid var(--green_apple);
  padding: 8px;
}

.card-body a{
  background-color: var(--light_purple);
  border-color: var(--purple);
}
.card-body a:hover{
  background-color: var(--purple);
  border-color: var(--green_apple);
  
}
.badge{
  background-color: var(--purple);
  border-color: var(--purple);
  
}

/* ----------Login / Register---------- */

.login-register{
  background-color: var(--light_purple);
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.form{
  align-items: center;
  background-color: var(--bg-black);
  border: 1px solid var(--bg-black);
  border-radius: 15px;
  color: var(--green_apple);
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  gap: 5px;
  padding: 20px;
  width: 320px;
}
.form__tittle{
  font-family: "Amatic SC";
}
.form__button{
  background-color: var(--green_apple);
  border: 1px solid var(--bg-black);
  border-radius: 10px;
  color: var(--bg-black);
  padding: 10px;
}
.form__button:hover{
  background-color: var(--bg-black);
  color: var(--green_apple);
  border: 1px solid var(--green_apple);
}
.link{
  text-decoration: none;
  color: var(--light_purple);
}
.link:hover{
  color:var(--gray)
}

/* --------Carrito de compras-------- */
.carrito{
  width: 100vw;
  background-color: var(--light_purple);
}
.container__table{
  display: flex;
  justify-content: center;
}

